<html>
<head>
<script type='text/javascript'> </script>
<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.4.4.js"> </script>
</head>
<div style = 'width:1500;height:750;left:0;top:0;background-size:100% 100%; background-image:url(../../../images/background.png);'>
<body>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<a style = 'margin-left:38%; margin-top:50%;' href="https://www.facebook.com/dialog/oauth?client_id=1411226749145886&redirect_uri=http%3A%2F%2F88.198.129.179%2Flahacks%2Fsoev%2Fhome&state=2dfaf8cc0fe0a78291772e72cca6723d&sdk=php-sdk-3.2.3&scope=basic_info%2Cuser_birthday%2Cuser_interests" ><img src="../../../images/login_1.png"></a>
</body>
</div>
</html>